.trader-image {
    position: relative;
    height: 20px;
    margin-top: 7px;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transform to transition */
}

.trader-image:hover {
    transform: scale(0.9);
}