.signIn {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    height: 40px;
    width: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: background-color 0.2s;
    background-color: #595959;
    border: none;
    border-radius: 5px;
    position: relative;
    right: 170px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.signIn:hover {
    background-color: #818181;
}